@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1533335121856-52d185e85ec1");
  background-size: cover;
  color: white;
  font-size: 18px;
}

tspan {
  display: none !important;
  visibility: hidden !important;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.w-65 {
 width: 65%;
}

.home {
  background: url(https://images6.alphacoders.com/114/1142152.jpg) no-repeat center center
    fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.heading {
  font-family: cursive;
  font-size: 150px;
  font-weight: 600;
  color: #405f35;
}

.btn-font{
  font-family: monospace;
  font-weight: 600;
}

.btn1 {
  color: white;
  background-color: green;
}

.btn1:hover{
  color: green;
  border: 1px solid green;
}

.btn2 {
  color: white;
  background-color: brown;
}

.btn2:hover{
  color: brown;
  border: 1px solid brown;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 350px;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: white;
}

.sidebar a {
  display: block;
  color: #999da1;
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 2px;
  border-radius: 10px;
}

.sidebar a.active {
  background: linear-gradient(90deg, #97ff97, #befbbc 35%, #ddf8dc);
  color: black;
}

.sidebar a:hover:not(.active) {
  background: linear-gradient(90deg, #97ff97, #befbbc 35%, #ddf8dc);
  color: black;
}

.main {
  margin-left: 350px;
}

.hover-shadow:hover {
  box-shadow: 15px 15px 14px -1px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .main {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
