{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/banana.css') }}" />
<title>Banana Panel - Plantify</title>
{% endblock %} {% block body %}

<div class="d-flex justify-content-center align-items-center" style="height: 95vh;">

  <div class="box d-flex justify-content-center align-items-center">
    <div class="inner-box d-flex justify-content-center align-items-center">
      <div class="text-center">
        <form id="upload-file" method="post" enctype="multipart/form-data">
          <label for="imageUpload" class="upload-label">Select Banana Leaf Image</label>
          <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
        </form>

        <div class="image-section" style="display: none">
          <div class="img-preview" style="margin-left: auto; margin-right: auto;">
            <div id="imagePreview"></div>
          </div>
          <div>
            <button type="button" class="btn btn-primary btn-lg" id="btn-predict">
              Predict!
            </button>
          </div>
        </div>

        <div class="loader" style="display: none; margin-left: auto; margin-right: auto;"></div>
        <div style="background-color: lightgreen; border-radius: 5px;">
          <h3 id="result">
            <span> </span>
          </h3>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='js/banana.js') }}" type="text/javascript"></script>
{% endblock %}